<p id="notice"><%= notice %></p>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Critical</th>
    <th>Primary Business Contact</th>
    <th>Primary Business Contact netid</th>
    <th>Primary Business Contact Phone</th>

  <tr>
    <td><%= @application.name %></td>
    <td><%= @application.critical %></td>
    <td><%= @application.PBContactName %></td>
    <td><%= @application.PBContactNetID %></td>
    <td><%= @application.PBContactPhone %></td>

  <tr>
    <td></td>
    <td></td>
    <th>Primary Technical Contact Name</th>
    <th>Primary Technical Contact netid</th>
    <th>Primary Technical Contact Phone</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%= @application.PTContactName %></td>
    <td><%= @application.PTContactNetID %></td>
    <td><%= @application.PTContactPhone %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <th>Secondary Technical Cntact Name</th>
    <th>Secondary Technical Cntact netid</th>
    <th>Secondary Technical Cntact Phone</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%= @application.STContactName %></td>
    <td><%= @application.STContactNetID %></td>
    <td><%= @application.STContactPhone %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_application_path(@application), :class => 'btn' %> 
<%= link_to 'Back', applications_path, :class => 'btn' %>
