<%= form_for(@schema) do |f| %>
  <% if @schema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schema.errors.count, "error") %> prohibited this schema from being saved:</h2>

      <ul>
      <% @schema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :application_name %><br />
    <%= f.autocomplete_field :application_name, schemas_autocomplete_application_name_path %>
  </div>
  <div class="field">
    <%= f.label :database_name %><br />
    <%= f.autocomplete_field :database_name, schemas_autocomplete_database_name_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
